.button {
  background-color: var(--red);
  padding: 16px 40px;
  border-radius: 200px;
  align-self: flex-start;
  border: none;
  color: var(--white);

  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  cursor: pointer;

  min-width: 170px;
}

.button:focus-visible,
.button:focus,
.button:hover {
  background-color: var(--dark-red);
  outline: none;
}

.light {
  background-color: transparent;
  border: solid 1px rgba(71, 84, 103, 0.2);
  color: var(--black);
}

.button.light:focus-visible,
.button.light:focus,
.button.light:hover {
  background-color: transparent;
  border-color: var(--dark-red);
}
