.hero {
  overflow: hidden;
  position: relative;
  min-height: 400px;
}

.title {
  width: 50%;
  margin-right: auto;
  color: var(--black);
}

h1 {
  font-size: 3.75rem;
  line-height: 1;
}

.services {
  display: flex;
  gap: 80px;
}

.image {
  border-radius: 10px;
  width: 368px;
  height: 368px;
}

.description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.comment {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
}
